.list {
    margin-bottom: 30px;
}

.item {
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.status {
    display: block;
width: 20px;
height: 20px;
border-radius: 50%;
}

.online {
    composes: status;
    background-color: #47B04A;
}

.offline {
    composes: status;
    background-color: #FF524C;
}

.avatar {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.name {
    font-size: 24px;
    font-weight: 500;
}
